.login-container {
    min-width: 520px;
    max-width: 650px;
}

.form-check-input:focus {
    background-color: #5469D4;              
}

.form-check-input:checked {
    background-color: #5469D4;              
    border-color: #5469D4;
}

.error-message {
    color: red;
}