/* Global Classes */

.rounded-4 {
    border-radius: 1.25rem;
}

.max-width-60 {
    max-width: 60%;
}

.w-20 {
    width: 20%;  
}

.w-10 {
    width: 10%;  
}

.w-30 {
    width: 30%;
}

.h-200 {
    height: 200px !important;
}

.va {
    vertical-align: center;
    padding: 25% 0;
}

.name-box { 
    vertical-align: center;
    text-align: center;
    padding: auto;
    height: 100%;
    overflow:auto;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.margin-15p {
    margin-left: 15%;
    margin-right: 15%;
}

.top-bot-margin-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.font-size-240p {
    font-size: 240%;
}

.fw-600 {
    font-weight: 600;
}

.light-purple {
    color: #5469D4;
}

.bg-light-purple {
    background-color: #5469D4;
}

.dark-red {
    color: #8f1f1f;
}

.bg-dark-red {
    background-color: #8f1f1f;
    filter: brightness(1.1);
    color: white !important;
}

.w-12p5 {
    width: 12.5%;
}

.bg-light-gray {
    background-color: #f0f2f5;
}

.bg-gray {
    background-color: #c9c9c9;
}

/* Global Settings */
:root {
    --diag-ang: 45deg;
}

html{
    height: 100%;
}

@media (max-width: 768px) {
    body {
        background-image: url("./images/background-mobile.png");
        background-size: cover;
        
    }
}
@media (min-width: 768px) {
    body {
        background-image: url("./images/background-tablet.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}
@media (min-width: 992px) {
    body {
        background-image: url("./images/background-pc.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

.btn:focus, .btn-close:focus {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
    border-color: #5469D4;
}

.darken-on-hover:hover {
    filter: brightness(0.95);
    cursor: pointer;
}

.dropdown-item:active {
    filter: brightness(0.85);
    color: inherit;
    background-color: inherit;
}

.margin-40p {
    margin-right: 40%;
    margin-left: 40%;
}

.center-text {
    text-align: center;
}

.title-bar {
  border-top-left-radius: 10px !important; /* Rounded top-left corner */
  border-top-right-radius: 10px !important; /* Rounded top-right corner */
}
