/* Global Classes */

.rounded-4 {
    border-radius: 1.25rem;
}

.max-width-60 {
    max-width: 60%;
}

.w-20 {
    width: 20%;  
}

.w-10 {
    width: 10%;  
}

.w-30 {
    width: 30%;  
}

.va {
    vertical-align: center;
    padding: 25% 0;
}

.name-box { 
    vertical-align: center;
    text-align: center;
    padding: auto;
    height: 100%;
    overflow:auto;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.margin-15p {
    margin-left: 15%;
    margin-right: 15%;
}

.top-bot-margin-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.font-size-240p {
    font-size: 240%;
}

.fw-600 {
    font-weight: 600;
}

.light-purple {
    color: #5469D4;
}

.bg-light-purple {
    background-color: #5469D4;
}

.bg-light-gray {
    background-color: #f0f2f5;
}

/* Global Settings */
body {
    background-color: #FBFCF8;
}

.btn:focus, .btn-close:focus {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
    border-color: #5469D4;
}

.darken-on-hover:hover {
    filter: brightness(0.95);
    cursor: pointer;
}

.dropdown-item:active {
    filter: brightness(0.85);
    color: inherit;
    background-color: inherit;
}

.margin-40p {
    margin-right: 40%;
    margin-left: 40%;
}

.center-text {
    text-align: center;
}