.profile-picture {
    object-fit: cover;
    width: 49px;
    max-height: 49px;
    min-height: 49px;
}

.profile-picture-big {
    object-fit: cover;
    width: 150px;
    max-height: 150px;
    min-height: 150px;
}

.name-box {
    width: 20%;
}

.score-box {
    width: 10%;
}

#chat-app {
    min-width: 1140px;
}

#contact-avatar {
    min-height: 49px;
}

#contact-list, #chat {
    height: 65vh;
}

#menu:focus {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.soldier-input {
  width: 80px;
  position: absolute;
  left: 300px; /* Adjust this value to fit your layout */
  top: 50%;
  transform: translateY(-50%);
}

/* Grade Statistics Styling */
.grade-statistics {
    background-color: #f8f9fa;
    border: 1px solid #e3e6e9;
    border-radius: 8px;
}

.stat-box {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.stat-title {
    font-size: 1rem;
    font-weight: bold; /* Bold text for the titles */
    color: #343a40;
}

.stat-value {
    font-size: 1rem;
    color: #007bff;
    font-weight: normal;
}

@media (max-width: 576px) {
    .grade-statistics {
        flex-direction: column;
    }
    .stat-box {
        margin-bottom: 10px;
    }
}
